body{
    font-size:small;
    color:rgb(36, 35, 35);
    background-color: rgb(250, 250, 250);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#sidebar{
    position:fixed;
    top:0px;
    left:0px;
    width:180px;
    padding:20px 10px 500px 10px;
    background-color:rgb(242,242,242)
}
#header{
    margin:0px;
    padding:0px;
}
#navigation{
    background-color:none;
    line-height:1.6em;
    padding:5px;
    margin-top:10px;
    margin-right:10px;
    margin-bottom:220px;
    margin-left:10px;
}
#footer{
    font-size:80%;
    text-align:left;
}
#main{
    margin-top:30px;
    margin-bottom:30px;
    margin-left:350PX;
    padding-top:10px;
    padding-bottom:30px;
    padding-left:50px;
    padding-right:0px;
    line-height:1.6em;
}
#main p{
    padding:0px;
    margin:0px;
    margin-bottom:10px;
    font-size:1.2em;
}
h1,h2{
    color:rgb(46, 43, 43);
}
h2{
    font-size:120%;
    font-weight:normal;
}
#title{
    font-size:150%;
    font-style:italic;
    text-decoration:none;
    line-height:1;
    margin:0px;
    width:100px;
    text-align:center;
}
a:link{
    color:rgb(60,60,60);
    text-decoration:none;
    border-bottom:thin dotted rgb(60, 60, 60);
}
a:visited{
    color:rgb(60,60,60);
    text-decoration:none;
    border-bottom:thin dotted rgb(60, 60, 60);
}
a:hover{
    text-decoration:none;
    color:rgb(46, 31, 184);
    border-bottom:thin dotted rgb(46,31,184);
    font-size:1.05em;
}
#this-page{
    color:black;
    font-weight:normal;
    font-size:1.1em;
}